body {
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: rgb(37, 37, 37);

}

header h1 {
    position: relative;
    z-index: 9999;
    font-size: 4vw;
    color: rgb(37, 37, 37);
    font-family: 'Kaushan Script', cursive;
    text-shadow: 2px 2px 0px #4e4e4e, 
        4px 4px 0px #7c7b7c, 
        6px 6px 0px #b3b3b3, 
        8px 8px 0px #e6e6e6;
}

section {
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    background-color: white;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.failed {
    color: red;
    background-color: pink;
    border: 1px dashed red;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 20px;
    transition: 1s all;
}

section form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.passed {
    color: green;
    background-color: rgb(192, 235, 192);
    border: 1px dashed green;
    border-radius: 10px;
    padding: 20px 10px;
    margin-bottom: 20px;
    transition: 1s all;
}

form * {
    width: 100%;
    resize: none;
    padding: 10px 5px;
    box-sizing: border-box;
}

input, textarea {
    border-radius: 5px;
    border: 1px solid rgb(201, 199, 199);
}

#contactSubmit {
    border: none;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 20px 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav a {
    margin: 0 20px;
    color: black;
    border: 1px solid gray;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s all;
}

nav a:hover {
    background-color: rgb(207, 204, 204);
}